.carousel {
    height: 24rem;
    /* overflow: hidden; */
}

.carousel-inner {
    height: 23rem;
}

.carousel-item .carousel-img {
    height: 23rem;
}


@media (max-width: 768px) {
    .carousel {
        height: 19rem;
        z-index: -1;
    }
    
    .carousel-inner {
        height: 18rem;
    }
    
    .carousel-item .carousel-img {
        height: 18rem;
    }
}